@import "tailwindcss";

@theme {
  --color-gov-blue-900: #0c326f;
  --color-gov-blue-800: #154c9e;
  --color-gov-blue-700: #2968c8;
  --color-gov-green-700: #166534;
  --color-gov-green-600: #1f8e3a;
  --color-gov-yellow-500: #eab308;
  --color-gov-yellow-400: #fecb00;

  --font-sans: var(--font-inter);

  --animate-scroll-logos: scroll-logos 30s linear infinite;

  @keyframes scroll-logos {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-33.33%);
    }
  }
}

:root {
  --background: #f8fafc;
  /* Slate-50 */
  --foreground: #0f172a;
  /* Slate-900 */
}

/* Custom Utilities for that 'Official' look */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .container-centered {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
  -webkit-font-smoothing: antialiased;
}